@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Roboto:wght@400;700&family=Varela+Round&display=swap');

*{
    margin: 0;padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    overflow: hidden;
}
.container{
    width: 100%;
    min-height: 100vh;
    background-color: #f3f5f8;
}
nav{
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 88px;
    z-index: 111;
}
#logo{
 display: flex;
 font-size: 40px;
 font-weight: 800;
 color:#3d535f;
 letter-spacing: 3px;
 cursor: pointer;
 text-transform: uppercase;
}
b{
    font-family:'Poppins' ;
    font-size: 80px;
    color: #7f00ff;
}
.nav-items{
    display: flex;
}
.nav-items li{
    list-style: none;
    margin: 10px 15px;
}
.nav-items li:hover{
    transform: scale(1.1);
    transition: 0.1s;
}
.nav-items li a{
    font-size: 25px;
    color: #3d535f;
    letter-spacing: 3px;
    text-decoration: none;
    text-transform: capitalize;
}
.nav-items li:hover a{
    color: #7f00ff;
}
.links a{
    font-size: 30px;
    color: #3d535f;
    margin: 25px 10px;
}
.links a:hover{
    color: #7f00ff;
}
.links{
    margin-top: 10px;
}
.wrapper{
    display: flex;
    width: 100%;
    height: calc (100vh - 80px);
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    overflow: hidden;
    margin-left: auto;
}
.wrapper::before{
    position: absolute;
    content: '';
    height: 500px;
    width: 500px;
    border-radius: 50%;
    left: -12%;
    top: 30%;
    background:linear-gradient(45deg, #7f00ff,pink);
    animation: obj1 3s linear infinite;
}
.wrapper::after{
    position: absolute;
    content: '';
    height: 200px;
    width: 200px;
    border-radius: 50%;
    left: 35%;
    top: 12%;
    background:linear-gradient(45deg, #7f00ff,pink);
    animation: obj2 4s linear infinite;
}
@keyframes obj1{
    50%{
    left: -13%;
    top:31%;
    }
}
@keyframes obj2{
    50%{
    left: 35%;
    top: 10%;
    /* width: 130%; */
    }
}

.cols{
    width: 50%;
}
.cols0{
    z-index: 100;
}
.topline{
    display: block;
    position: relative;
    font-size: 35px;
    letter-spacing: 5px;
    color: #3d535f;
}
.topline::after{
    position: absolute;
    content: '';
    height: 6px;
    width: 50px;
    bottom: 10px;
    background-color: #7f00ff;
    border-radius: 3px;
}
h1{
    display: block;
    font-size: 6em;
    font-weight: 900;
    color: #3d535f;
}
h1 span{
    color: #7f00ff;
    text-transform: capitalize;
}
p{
    display: block;
    width: 90%;
    font-size: 1.2em;
    color: #3d535f;
}
.btns {
    display: flex;
    width: 100%;
    position: relative;
    left: 150px;
}
.btns button{
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 25px;
    font-weight: 400;
    color: #fff;
    background-color: #3d535f;
    padding: 8px 14px;
    margin: 40px 15px;
    letter-spacing: capitalize;
    box-shadow:0 15px 10px rgba(0, 0, 0, 0.418);
    border-radius: 5px;
}

button:hover{
    background-color: #7f00ff;
    transform: scale(1.1);
    transition:  0.1s;
}
.imgbox{
    position: relative;
    width: 100%;
    height: 100%;
}
.imgbox img{
    position: relative;
    height: 100%;
    width: calc(130% - 80px);
    top: -30px;
    /* animation: animateuser 5s linear infinite; */
}
@keyframes animateuser{
    50%{
        /* right:50px; */
        /* top:-20px; */
        /* left:30px; */
        width: 130%;
    }
}

.splash{
    background: linear-gradient(45deg, #7f00ff,pink) ;
 position: absolute;
   height: 700px;
   width: 700px;
   border-radius: 50%;
   left: 250px;
   top:150px;
   animation: animate 4s linear infinite;
   /* /* filter: saturate(200%); */
} 
@keyframes animate{
    50%{
        left:20%;
        top:20%;
        /* width: 110%; */
    }
}



#nav-item-heading{
    font-size: 40px;
    font-weight: 500;
    color:#3d535f;
    letter-spacing: 3px;
    cursor: pointer;
    text-transform: uppercase;
    margin-left: 300px;
    margin-top: 100px;
   
}
#nav-item-heading::after{
    position: absolute;
    content: '';
    height: 6px;
    width: 352px;
    bottom: 10px;
    background: linear-gradient(45deg, #7f00ff,pink) ;
    border-radius: 3px;
    left: 546px;
    top: 220px;
}

.text-content{
    margin-left: 195px;
    margin-top: 50px;
    font-size: 30px;
}
/* .text-content::after{
    position: absolute;
    content: '';
    height: 20px;
    width: 20px;
    top: 291px;
    left: 133px;
} */

.bullet{
  font-size: 50px;
  color: #7f00ff;
}

.skills-section{
    display: flex;
    justify-content: center;
    align-items: center;
}